PySide2==5.13.1
git+git://github.com/pyqtgraph/pyqtgraph@ed6586c7ddd3ad95eadd40cb8fda7c4c1d4c746b
watchdog==0.8.3
git+git://github.com/miguelgrinberg/python-engineio@51da0be#egg=python-engineio
python-socketio==4.3.1
requests==2.21.0
websocket-client==0.56.0
